body {
    display: flex;
    background-color: #000;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h1 {
    font-size: 75px;
}

.input {
    justify-content: center;
    align-items: center;
    line-height: 13vh;
    font-size: 28px;
    width: 83vw;
    display: flex;
    font-weight: 700;
    flex-direction: column;
}

input {
    height: 6vh;
    border: none;
    font-size: 18px;

    background-color: lavender;
    border-radius: 29px;
    width: 17vw;
    margin: 0px 40px;
    text-align: center;
}
#login{
text-align: center;
}
input[type = "submit"] {
    margin: 8px 0px;
    font-size: 19px;
    height: 6vh;
    width: 9vw;
    border-radius: 33px;
    border: none;
    background-color: rgb(253, 49, 49);
    color: white;
    font-weight: 600;
    letter-spacing: 0.1em;
}